<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/slides/undraw_Mobile_life_re_jtih.svg" alt="">
      <h1>Ionic Fundamental</h1>
      <p>Selamat datang di aplikasi ionic fundamental</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/slides/undraw_code_inspection_bdl7.svg" alt="">
      <h1>Mudah untuk dipahami</h1>
      <p>Karena serasa ngoding web</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/slides/undraw_happy_announcement_ac67.svg" alt="">
      <h1>Ready to Play?</h1>
      <ion-button fill="clear" (click)="navigateToLoginPage()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
